In [3]:
import os 
import pandas as pd


xls = os.listdir("data")
dfs = []
for i in xls:
    df = pd.read_excel(f"data/{i}", index_col=0, dtype={"code": str})
    dfs.append(df)
df = pd.concat(dfs)


cond = df['day'] == "12월 결산"
df = df[cond]

In [24]:
cond = (df['roic'] >0) & (df['ev/ebitda'] > 0)

In [25]:
df2 = df[cond].copy()
df2

      code    name     day  roic  ev/ebitda   rank1
1   095570  AJ네트웍스  12월 결산   4.3       5.68  1167.0
4   265520   AP시스템  12월 결산  20.8       7.20  1958.0
6   027410     BGF  12월 결산   9.5      17.73  1565.0
7   282330  BGF리테일  12월 결산  17.8       4.57  1880.0
10  001040      CJ  12월 결산   2.2       6.73   949.5
..     ...     ...     ...   ...        ...     ...
94  234690   녹십자웰빙  12월 결산   4.6      59.02  1197.5
95  005250  녹십자홀딩스  12월 결산   2.5      27.39   982.5
97  004370      농심  12월 결산   9.9       7.02  1587.5
98  072710   농심홀딩스  12월 결산  35.3       4.80  2116.0
99  054050   농우바이오  12월 결산   2.5      15.81   982.5

[1489 rows x 6 columns]

In [26]:
df2['rank1'] = df2['roic'].rank(ascending=False)
df2

      code    name     day  roic  ev/ebitda   rank1
1   095570  AJ네트웍스  12월 결산   4.3       5.68  1095.0
4   265520   AP시스템  12월 결산  20.8       7.20   315.5
6   027410     BGF  12월 결산   9.5      17.73   701.0
7   282330  BGF리테일  12월 결산  17.8       4.57   392.0
10  001040      CJ  12월 결산   2.2       6.73  1310.5
..     ...     ...     ...   ...        ...     ...
94  234690   녹십자웰빙  12월 결산   4.6      59.02  1064.5
95  005250  녹십자홀딩스  12월 결산   2.5      27.39  1277.5
97  004370      농심  12월 결산   9.9       7.02   678.5
98  072710   농심홀딩스  12월 결산  35.3       4.80   165.0
99  054050   농우바이오  12월 결산   2.5      15.81  1277.5

[1489 rows x 6 columns]

In [27]:
df2['rank2'] = df2['ev/ebitda'].rank()
df2

      code    name     day  roic  ev/ebitda   rank1   rank2
1   095570  AJ네트웍스  12월 결산   4.3       5.68  1095.0   234.0
4   265520   AP시스템  12월 결산  20.8       7.20   315.5   393.0
6   027410     BGF  12월 결산   9.5      17.73   701.0  1056.5
7   282330  BGF리테일  12월 결산  17.8       4.57   392.0   134.0
10  001040      CJ  12월 결산   2.2       6.73  1310.5   347.5
..     ...     ...     ...   ...        ...     ...     ...
94  234690   녹십자웰빙  12월 결산   4.6      59.02  1064.5  1405.0
95  005250  녹십자홀딩스  12월 결산   2.5      27.39  1277.5  1243.0
97  004370      농심  12월 결산   9.9       7.02   678.5   376.5
98  072710   농심홀딩스  12월 결산  35.3       4.80   165.0   157.0
99  054050   농우바이오  12월 결산   2.5      15.81  1277.5   974.0

[1489 rows x 7 columns]

In [28]:
df2['rank'] = df2['rank1'] + df2['rank2']
df2

      code    name     day  roic  ev/ebitda   rank1   rank2    rank
1   095570  AJ네트웍스  12월 결산   4.3       5.68  1095.0   234.0  1329.0
4   265520   AP시스템  12월 결산  20.8       7.20   315.5   393.0   708.5
6   027410     BGF  12월 결산   9.5      17.73   701.0  1056.5  1757.5
7   282330  BGF리테일  12월 결산  17.8       4.57   392.0   134.0   526.0
10  001040      CJ  12월 결산   2.2       6.73  1310.5   347.5  1658.0
..     ...     ...     ...   ...        ...     ...     ...     ...
94  234690   녹십자웰빙  12월 결산   4.6      59.02  1064.5  1405.0  2469.5
95  005250  녹십자홀딩스  12월 결산   2.5      27.39  1277.5  1243.0  2520.5
97  004370      농심  12월 결산   9.9       7.02   678.5   376.5  1055.0
98  072710   농심홀딩스  12월 결산  35.3       4.80   165.0   157.0   322.0
99  054050   농우바이오  12월 결산   2.5      15.81  1277.5   974.0  2251.5

[1489 rows x 8 columns]

In [31]:
df2.sort_values(by='rank').head(n=30)

      code     name     day    roic  ev/ebitda  rank1  rank2   rank
80  187660  에이디엠코리아  12월 결산  2110.7       0.02    3.0    2.5    5.5
29  227420    도부마스크  12월 결산   394.7       1.23   11.0   17.0   28.0
70  225220     제놀루션  12월 결산   333.9       2.40   14.0   28.0   42.0
32  001880     DL건설  12월 결산   344.8       3.15   13.0   66.0   79.0
6   037340  씨엘인터내셔널  12월 결산    86.2       0.55   69.0   10.0   79.0
1   211050  인카금융서비스  12월 결산    88.1       2.04   67.0   23.0   90.0
9   357230    에이치피오  12월 결산    63.4       0.36   88.0    7.0   95.0
50  084650    랩지노믹스  12월 결산   171.7       3.71   34.0   86.0  120.0
53  299670    에스엠비나  12월 결산    52.5       1.79  103.0   20.0  123.0
3   064550    바이오니아  12월 결산   149.3       4.06   40.0  100.0  140.0
10  163730       핑거  12월 결산    39.7       0.08  137.0    4.0  141.0
25  344860      이노진  12월 결산    42.5       1.40  131.0   18.0  149.0
95  340930   유일에너테크  12월 결산    36.5       0.50  154.0    9.0  163.0
68  013120     동원개발  12월 결산    38.8       2.42  141.0   29.5  170.5
58  341310     이앤에치  12월 결산    80.4       4.15   71.0  104.0  175.0
5   046940     우원개발  12월 결산    46.4       3.28  121.0   70.0  191.0
44  166220     지에스엘  12월 결산    32.9       1.04  178.5   15.0  193.5
91  011870     엘티삼보  12월 결산   227.1       5.00   23.0  173.0  196.0
46  351330  이삭엔지니어링  12월 결산    31.4       0.15  191.0    5.0  196.0
20  002460     화성산업  12월 결산    47.3       3.62  118.5   83.0  201.5
29  083550      케이엠  12월 결산    37.7       2.94  149.5   53.0  202.5
53  092590     럭스피아  12월 결산    33.0       2.22  177.0   25.5  202.5
86  248070      솔루엠  12월 결산    31.0       1.00  193.5   14.0  207.5
30  002170     삼양통상  12월 결산    37.5       3.04  151.0   61.0  212.0
16  029460      케이씨  12월 결산   259.9       5.23   21.0  194.5  215.5
25  004960     한신공영  12월 결산    31.5       2.44  189.5   32.0  221.5
75  076340     관악산업  12월 결산    48.6       4.23  113.0  112.0  225.0
66  140320   대우산업개발  12월 결산    27.1       0.02  224.0    2.5  226.5
1   900310     컬러레이  12월 결산    34.0       3.39  171.0   73.0  244.0
54  900340     윙입푸드  12월 결산    33.1       3.26  176.0   69.0  245.0